################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication/ConsoleApplication/bin/Debug
/ConsoleApplication/ConsoleApplication/obj/x86/Debug
/MyFirstWebService/MyFirstWebService/bin
/MyFirstWebService/MyFirstWebService/obj/Debug
